<style>
.username.ng-valid {
	background-color: lightgreen;
}

.username.ng-dirty.ng-invalid-required {
	background-color: red;
}

.username.ng-dirty.ng-invalid-minlength {
	background-color: yellow;
}

.category.ng-dirty.ng-invalid-required {
	background-color: red;
}

.image.ng-dirty.ng-invalid-required {
	background-color: red;
}
</style>

<div class="container-fluid">
	<div class="panel panel-default"
		ng-controller="RemoveprodController as ctrl">
		<div class="panel-heading">
			<span class="lead"> Remove Product</span>
		</div>
		<div class="cssload-loader" ng-show="ctrl.loader">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div class="alert alert-success" ng-show="ctrl.showMsg">
			<strong>Success!</strong> {{ctrl.message}}
		</div>
		<div class="formcontainer" ng-hide="ctrl.loader">
			<form ng-submit="ctrl.getProducts()" name="myForm" class="form-horizontal">
				<input type="hidden" ng-model="ctrl.product.id" />
		<div class="row">
				<div class="form-group col-md-12">
					<label class="col-md-2 control-lable" for="category">Category</label>
					<div class="col-md-7">
						<select ng-model="ctrl.category"
							class="category form-control" required>
							<option value="">---Please select---</option>
							<option value="1">LED Spotlights</option>
							<option value="2">LED Lightbulbs</option>
							<option value="3">LED Strip Lights</option>
							<option value="4">Indoor Light Fittings</option>
							<option value="5">Outdoor Lighting</option>
							<option value="6">LED Downlights</option>
							<option value="7">Commercial Lighting</option>
						</select>
						<div class="has-error" ng-show="myForm.$dirty">
							<span ng-show="myForm.category.$error.required">This is a
								required field</span>
						</div>
					</div>
			</div>
		</div>
		
		<div class="row" align="center">
			<div class="form-actions floatRight">
				<input type="submit" class="btn btn-primary btn-sm"
					ng-disabled="myForm.$invalid">
			</div>
		</div>
		</form>
		</div>
		
		<div class="formcontainer" ng-hide="ctrl.loader">
			<form ng-submit="ctrl.removeProds()" name="myForm" class="form-horizontal">
			
			<div class="row" align="center">
			 <label for="multipleSelect"> Select Products: </label><br>
		    <select name="multipleSelect" id="multipleSelect" ng-model="ctrl.selectProds" multiple>
		      <option ng-repeat="option in ctrl.products" value="{{option.id}}">{{option.name}} - {{option.text}}</option>
		    </select><br>
			
			</div>
			
			</br>
			
			<div class="row" align="center">
			<div class="form-actions floatRight">
				<input type="submit" class="btn btn-primary btn-sm" value="Remove">
				<button type="button" ng-click="ctrl.resetProducts()"
					class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset
					Selection</button>
			</div>
			</div>
				
				</form>
				</div>
		
		</div>
		
</div>